<% layout('/pages/index') -%>
<div class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">ADD
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" value="" placeholder="id">
                        </div>
                        <div class="form-group">
                            <label for="MFG">MFG</label>
                            <input type="text" class="form-control" id="MFG" placeholder="MFG">
                        </div>
                        <div class="form-group">
                            <label for="EXP">EXP</label>
                            <input type="text" class="form-control" id="EXP" placeholder="EXP">
                        </div>
                        <div class="form-group">
                            <label for="state">State</label>
                            <input type="text" class="form-control" id="state" placeholder="State">
                        </div>
                        <div class="form-group">
                            <label for="state">name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                        <button type="button" class="btn btn-success" onclick="<%=event%>">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    async function createProduct() {
        var id = $('#id').val();
        var MFG = $('#MFG').val();
        var EXP = $('#EXP').val();
        var state = $('#state').val();
        var name = $('#name').val();
        var acc = await web3.eth.getAccounts();
        contract2.methods.createProduct(id, MFG, EXP, state, name).send({
            from: acc[0]
        }).then((e) => {
            console.log(e);
            history.go(-1)
        });
    }

    // window.addEventListener('load', function () {
    //     function getQueryVariable(variable) {
    //         var query = window.location.search.substring(1);
    //         var vars = query.split("&");
    //         for (var i = 0; i < vars.length; i++) {
    //             var pair = vars[i].split("=");
    //             if (pair[0] == variable) { return pair[1]; }
    //         }
    //         return (false);
    //     }
    //     var a = getQueryVariable("id");
    //     // console.log(a);
    //     contract2.methods.productsDetail(a).call().then(datas => {
    //         console.log(datas)
    //         $('#id').val(datas['id']);
    //         $('#MFG').val(datas['MFG']);
    //         $('#EXP').val(datas['EXP']);
    //         $('#state').val(datas['state']);
    //         $('#name').val(datas['name']);
    //     });

    // });
    // // end edit product
</script>